body {
    background: white;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
    margin-right: 20%;
    margin-left: 20%;
}

.container {
    padding: 0 20px;
    text-align: center;
}