body {
    background: white;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
    margin: 5%;
}

@media screen and (min-width: 768px) {
    body {
        margin: 0 10%;
    }
}

@media screen and (min-width: 1200px) {
    body {
        margin: 0 20%;
    }
}


.container {
    padding: 0 20px;
    text-align: center;
}